/* RESET
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Content*/


#books-container {
	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: center;
	margin-top: 100px;
}

.bookContainer {
	flex-basis: 5%;
	height: 250px;
	border: 1px solid #222;
	position: relative;
	text-align: center;
}

.item {
	text-align: center;
	position: relative;
}

.item:first-child {
	color: red;
	-ms-transform: rotate(90deg);
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	/* Safari 3-8 */
	transform: rotate(90deg);
	margin-top: 70px;

}

.item:nth-child(2) {
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.btn-delete {
	margin: auto;
}

.btn-toggle {
	margin: 10px auto;
}

#newForm {
	position: absolute;
	top: 5%;
	left: 40%;
	background-color: aquamarine;
	border: 2px solid #222;
	display: none;
	z-index: 99;
}







.preview {
	position: absolute;
	bottom: 10px;
	width: 400px;
}
