/* RESET
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Content*/

body {
	background-image: url(images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #4b4c4c;
}

#new {
	position: absolute;
	top: -10px;
	left: 0;
	text-align: center;
	font-size: 25px;
	color: #fff;
	padding-top: 230px;
	width: 200px;
	height: 400px;
	background-image: url(images/the-ribbon-287142_640.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	-webkit-transition: height 1s;
	/* For Safari 3.1 to 6.0 */
	transition: height 1s;
}

#new:hover {
	height: 450px;
}

#books-container {
	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: center;
	padding: 0px;
	margin: 100px auto;
	width: 80%;
}

#books-container::before {
	content: "";
	height: 70px;
	width: 100%;
	background-image: url(images/wall-shelf-1324450_1280.png);
	background-size: cover;
	background-position: center;
}

.bookContainer {
	flex-basis: 5%;
	height: 350px;
	border: 1px solid #371b07;
	position: relative;
	text-align: center;
	background-image: url(images/square-2191133_640.jpg);
	background-size: cover;
	background-position: center;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.3s;
}

.item {
	text-align: center;
	position: relative;
}

.item:first-child {
	color: #fff;
	-ms-transform: rotate(90deg);
	/* IE 9 */
	-webkit-transform: rotate(90deg);
	/* Safari 3-8 */
	transform: rotate(90deg);
	margin-top: 70px;
	font-size: 20px;
}

.item:nth-child(2) {
	position: absolute;
	bottom: 5px;
	text-align: center;
	padding: 5px;
	color: #fff;
}

.btn-delete {
	margin: auto;
}

.btn-toggle {
	margin: 10px auto;
}

#newForm {
	position: absolute;
	top: 5%;
	left: 40%;
	background-color: aquamarine;
	border: 2px solid #222;
	display: none;
	z-index: 99;
}

.preview {
	padding: 0;
	position: absolute;
	bottom: 100px;
	width: 400px;
	height: 550px;
	background-image: url(images/book-3057902_640.png);
	background-size: cover;
	border: none;
	z-index: 999;
}
